/*
this file is for grid based layout prefered over flexbox layout
*/

@mixin grid {
	@supports(display:grid){
		display : grid;
		grid-template-columns :1fr;  
	  @media screen and (min-width: 700px) {
	    grid-template-columns: 1fr 1.5fr;
	    grid-template-rows : 1fr;
	  	}  
		justify-items: center;	
		align-items: center;
		justify-content : center;
		align-content: space-around;
		grid-column-gap:20px;
	}
}

@mixin parent-2 {
	@supports(display:grid){
		display : grid;
		grid-template-columns :1fr; 
		grid-template-rows:1fr; 
	  @media screen and (min-width: 700px) {
	    	grid-template-rows : 1fr 6fr;
	  	}
		justify-items: center;	
		align-items: center;
		justify-content : center;
		align-content: space-around;
	}
}


@mixin partner{
	@supports(display:grid){
		display : grid;
		grid-template-columns :1fr; 
		grid-template-rows:1fr; 
		justify-items: center;	
		align-items: center;
		justify-content : center;
		align-content: space-around;
	}
}


@mixin heading{
	grid-column :1;
	grid-row : 1;
	@media screen and (min-width: 700px) {
    grid-column : 1 / span 2;
  	}
}

@mixin picture {
	grid-column : 1;
	grid-row : 2;
}


@mixin wrapper {
	@supports(display:grid){
		display : grid;
		grid-template-columns :1fr;  
	  @media screen and (min-width: 1004px) {
	    grid-template-columns: 1fr 1fr 1fr 1fr;
	  	}
	  	@media screen and (min-width: 600px) and (max-width:1003px ) {
	    grid-template-columns: 1fr 1fr;
	  	}
		grid-template-rows : 1fr;
		justify-items: center;	
		align-items: center;
		justify-content : center;
		align-content: space-around;
		grid-row-gap: 20px;
	}
}


.btm-partner {
@media screen and (min-width:1201px){
		grid-row: 3 / span 1;
		grid-column:1 / span 1;
		width:100%;
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		justify-items: center;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    -ms-flex-line-pack: distribute;
	        align-content: space-around;
	      
	z-index:4;
	}
	@media screen and (max-width:1200px){
		display:none;
	}
}

.slideshow-container {
	@supports(display: grid){
		display: grid;
		grid-template-columns :0.5fr 2fr 0.5fr; 
		grid-template-rows:1fr; 
		justify-items: center;	
		align-items: center;
		justify-content : center;
		align-content: space-around;
	}

}
