/*
this file contains css for all the front image and video which is to be shown as banner.This partial file is rendered in common.scss
*/

.first-sight {
  @supports(display:grid){
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : 0.5fr 0.5fr 0.5fr;
    justify-items        : center;  
    align-items          : center;
    justify-content      : center;
    align-content        : space-around;
    grid-column-gap      : 20px;
    @media (min-width:800px) {
      grid-template-rows:0.5fr 1fr 1fr;
    }
  }
  @supports not (display:grid){

  }
  margin-bottom:17px;
}

.background-slider {
  grid-column: 1;
  grid-row   : 1 / span 4;
  min-height : 85vh !important;
  height     : 100% !important;
  min-width  : 100% !important;
  width      : 100% !important;
  filter     : brightness(45%);
}


.first-sight > nav{
  grid-column: 1;
  grid-row   : 1 / span 1;
  height     : 100%;
}

.first-sight > .main-heading{
  width      : 100%;
  z-index    : 4;
  grid-column: 1;
  grid-row   : 2 / span 1;
  &>h1{
    letter-spacing: 0em !important;
    word-spacing  : 0.27em !important;
    font: {
       family : $main_heading;
       weight : 400;
       size   : 6rem;
       variant: small-caps;
    }
    @media screen and (max-width:800px) {
			font-size : 2rem;
    }
    text-align : center;
    width      : 100%;
    transform  : scaleY(1.05);
    text-shadow: 1px 0 0 rgba(253, 253, 253, 0.38), 0 1px 1px rgba(208, 208, 208, 0.35), -1px 0 1px rgba(236, 235, 235, 0.35), 0 -1px 1px rgba(243, 241, 241, 0.38);
    color      : rgba(255,255,255,0.5);
  }
}




video {
		vertical-align: middle;
		min-height    : 85vh;
		width         : 100%;
		height        : 100% !important;
		z-index       : -100;
		object-fit    : fill !important;
		pointer-events: none;
}
