.slider {
  min-height: 85vh !important;
  height: 100% !important; }
  .slider .slides {
    min-height: 85vh !important;
    height: 100% !important; }

.crisis {
  margin-bottom: 20px; }
  @supports (display: grid) {
    .crisis {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 2fr;
      justify-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
      grid-column-gap: 20px; } }

@supports (display: grid) {
  .solution {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    grid-column-gap: 20px; } }

.team {
  margin-bottom: 100px; }
  @supports (display: grid) {
    .team {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 0.5fr 4fr;
      justify-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
      grid-column-gap: 20px; }
      @media screen and (max-width: 700px) {
        .team {
          grid-template-rows: 0.2fr 0.2fr 4fr; } } }

.team-members {
  display: none; }
  @supports (display: grid) {
    .team-members {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
      grid-row-gap: 10px; }
      @media screen and (max-width: 700px) {
        .team-members {
          grid-template-rows: 1fr 1fr 0.8fr; } } }
  @media screen and (min-width: 1200px) {
    .team-members {
      width: 70%; } }
  @media screen and (min-width: 700px) and (max-width: 1199px) {
    .team-members {
      width: 80%; } }
  @media screen and (max-width: 699px) {
    .team-members {
      width: 90%; } }

@supports (display: grid) {
  .active-field {
    display: grid; } }

#formnav {
  margin-left: 0;
  width: auto !important; }
  #formnav > .nav-wrapper > ul:first-of-type {
    -webkit-transform: none !important;
            transform: none !important;
    float: none !important; }
    #formnav > .nav-wrapper > ul:first-of-type > li {
      margin-right: 3px;
      background-color: #dfe0e0;
      -webkit-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.29);
              box-shadow: 3px 0 2px rgba(0, 0, 0, 0.29); }
      #formnav > .nav-wrapper > ul:first-of-type > li:hover div {
        background-color: transparent;
        color: #fb8d2d !important; }
      #formnav > .nav-wrapper > ul:first-of-type > li > div {
        font-size: 1.25rem;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        cursor: pointer;
        text-transform: uppercase;
        color: #4c82c9;
        letter-spacing: 0.05em !important;
        word-spacing: 0.2em !important;
        padding: 0 15px; }
        @media screen and (max-width: 375px) {
          #formnav > .nav-wrapper > ul:first-of-type > li > div {
            font-size: 1.2rem; } }

.activeLinks {
  background-color: #4c82c9 !important;
  color: white !important;
  -webkit-transform: translateY(-3px) scale3d(1, 1, 3) !important;
          transform: translateY(-3px) scale3d(1, 1, 3) !important;
  -webkit-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.29), -3px 0 2px rgba(0, 0, 0, 0.29), 0 3px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 3px 0 2px rgba(0, 0, 0, 0.29), -3px 0 2px rgba(0, 0, 0, 0.29), 0 3px 2px rgba(0, 0, 0, 0.29); }

@media (min-width: 700px) {
  .element {
    -webkit-clip-path: circle(50%);
    width: 230px;
    height: 230px;
    float: left;
    margin: 1rem; } }

.mem {
  border-radius: 10px;
  padding: 1rem; }
  .mem > h3 {
    text-transform: uppercase;
    color: #4c82c9;
    letter-spacing: 0.05em !important;
    word-spacing: 0.2em !important;
    opacity: 0.8;
    margin-bottom: 8px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 1.4rem; }
  .mem > h5 {
    text-transform: uppercase;
    color: #9d9fa0;
    letter-spacing: 0.05em !important;
    word-spacing: 0.2em !important;
    margin-top: 0;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 1rem; }
  .mem > p {
    color: rgba(0, 0, 0, 0.65);
    letter-spacing: 0.025em !important;
    margin-right: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.02rem; }
