@supports (display: grid) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    grid-column-gap: 20px; }
    @media screen and (min-width: 700px) {
      .parent {
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr; } }
  .parent-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
    @media screen and (min-width: 700px) {
      .parent-2 {
        grid-template-rows: 1fr 6fr; } }
  .partner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
  .heading {
    grid-column: 1;
    grid-row: 1; }
    @media screen and (min-width: 700px) {
      .heading {
        grid-column: 1 / span 2; } }
  .about-img {
    grid-column: 1;
    grid-row: 2; }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    grid-row-gap: 20px; }
    @media screen and (min-width: 1004px) {
      .wrapper {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (min-width: 600px) and (max-width: 1003px) {
      .wrapper {
        grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 1201px) {
    .btm-partner {
      grid-row: 3 / span 1;
      grid-column: 1 / span 1;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-self: flex-end;
      justify-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: distribute;
      align-content: space-around;
      z-index: 4; } }
  @media screen and (max-width: 1200px) {
    .btm-partner {
      display: none; } }
  .slideshow-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
  .youtube-video {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px; }
    @media screen and (min-width: 700px) {
      .youtube-video {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; } }
    @media screen and (max-height: 400px) {
      .youtube-video {
        min-height: 80vh;
        margin-top: 15px; } }
    @media screen and (max-width: 1000px) {
      .youtube-video {
        margin-top: 15px; } }
  .icon {
    display: grid;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px; }
    @media screen and (max-width: 489px) {
      .icon {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        max-width: 70vw;
        justify-items: center;
        grid-row-gap: 20px; } }
    @media screen and (min-width: 490px) and (max-width: 700px) {
      .icon {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        max-width: 80vw;
        grid-gap: 30px;
        justify-items: center; } }
    @media screen and (min-width: 701px) {
      .icon {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr); } }
  @media screen and (max-width: 489px) {
    .center {
      display: none; }
      .center img {
        display: none; }
    .deg0 {
      grid-row: 1 / span 1; }
    .deg45 {
      grid-row: 2 / span 1; }
    .deg135 {
      grid-row: 3 / span 1; }
    .deg180 {
      grid-row: 4 / span 1; }
    .deg225 {
      grid-row: 5 / span 1; }
    .deg315 {
      grid-row: 6 / span 1; } }
  @media screen and (min-width: 490px) and (max-width: 700px) {
    .center {
      display: none; }
      .center img {
        display: none; }
    .deg0 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1; }
    .deg45 {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1; }
    .deg135 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1; }
    .deg180 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1; }
    .deg225 {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1; }
    .deg315 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1; } }
  @media screen and (min-width: 701px) {
    .center {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
      justify-self: center;
      -webkit-transform: translateX(-30px);
              transform: translateX(-30px); }
      .center > figure {
        opacity: 1; }
    .deg0 {
      grid-column: 5 / span 1;
      grid-row: 2 / span 1; }
    .deg45 {
      grid-column: 4 / span 1;
      grid-row: 3 / span 1; }
    .deg135 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1; }
    .deg180 {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1; }
    .deg225 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1; }
    .deg315 {
      grid-column: 4 / span 1;
      grid-row: 1 / span 1; } }
  .iframe-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; }
  .iframe-2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1; }
  .iframe-3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1; }
  .iframe-4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1; } }

@media screen and (min-width: 1274px) {
  .iframe-1,
  .iframe-2,
  .iframe-3,
  .iframe-4 {
    width: 150px;
    height: 150px; } }

@media screen and (min-wdith: 1170px) and (max-width: 1273px) {
  .iframe-1,
  .iframe-2,
  .iframe-3,
  .iframe-4 {
    width: 140px;
    height: 140px; } }

@media screen and (min-width: 701px) and (max-width: 1169px) {
  .iframe-1,
  .iframe-2,
  .iframe-3,
  .iframe-4 {
    width: 130px;
    height: 130px; } }

@media screen and (max-width: 701px) {
  .iframe-1,
  .iframe-2,
  .iframe-3,
  .iframe-4 {
    width: 130px;
    height: 130px; } }

@supports not (display: grid) {
  .parent,
  .parent-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .about-img {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .heading {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 40px;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.025em !important;
  word-spacing: 0.3em !important;
  text-align: justify;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300; }
  @media screen and (max-width: 800px) {
    .about-text {
      margin-right: 20px;
      margin-left: 20px;
      font-size: 1.2rem; } }
  .about-text > p > span {
    font-family: "Playfair Display", serif;
    font-weight: 400; }
    .about-text > p > span > b {
      font-size: 2rem;
      font-weight: 400; }
  .about-text > span {
    margin-top: 3rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    min-width: 100%;
    letter-spacing: 0.05em !important;
    word-spacing: 0.2em !important;
    font-size: 1.4rem;
    font-family: "Playfair Display", serif;
    font-weight: 700; }
    .about-text > span > a {
      min-width: 30%; }
    @media screen and (max-width: 800px) {
      .about-text > span {
        margin-top: 1rem;
        min-width: 100%;
        letter-spacing: 0.05em !important;
        word-spacing: 0.2em !important;
        font-size: 1.2rem;
        font-family: "Playfair Display", serif;
        font-weight: 700; } }

.parent,
.parent-2 {
  margin: 0 auto;
  height: auto;
  width: 85%;
  margin-bottom: 10px; }

.about-img {
  margin-right: 10px;
  margin-top: 20px; }
  @media (min-width: 700px) {
    .about-img {
      margin-top: 40px; } }

.wrapper > .process > .modal-trigger > img {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out; }
  .wrapper > .process > .modal-trigger > img:hover {
    -webkit-transform: scale3d(1.1, 1.1, 3);
            transform: scale3d(1.1, 1.1, 3); }

.wrapper {
  min-height: 60vh;
  height: auto;
  width: 85vw; }
  @media screen and (max-height: 500px) {
    .wrapper {
      min-height: 80vh;
      margin-top: 15px; } }
  @media screen and (max-width: 1000px) {
    .wrapper {
      margin-top: 15px; } }

.modal {
  top: 0 !important;
  bottom: 0 !important;
  background-color: #ff9643;
  border-radius: 7px; }
  .modal > .modal-content {
    font-family: "Raleway", sans-serif;
    font-size: 1.28rem;
    color: rgba(0, 0, 0, 0.7);
    padding: 3rem;
    padding-bottom: 0; }
    .modal > .modal-content span {
      font-family: "Playfair Display", serif;
      font-size: 1.4rem;
      font-family: "Playfair Display", serif;
      font-size: 1.4rem; }
      @media screen and (max-width: 800px) {
        .modal > .modal-content span {
          font-size: 1.1rem !important; } }
    @media screen and (max-width: 800px) {
      .modal > .modal-content {
        font-size: 1.1rem !important;
        padding: 1.2rem;
        padding-left: 1.5rem; } }

#modal2 > div > ul > li {
  list-style-type: disc; }

figure {
  margin: 0;
  opacity: 0.9; }
  figure:hover {
    opacity: 1; }

.figcaption-head {
  min-width: 100%;
  color: #4c82c9;
  letter-spacing: 0.05em !important;
  word-spacing: 0.2em !important;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.1rem; }

.hid,
.figcaption-text {
  display: none; }

.figcaption-text {
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.025em !important;
  word-spacing: 0.1em !important;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.95rem; }

.hid,
.show {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fb8d2d; }

.mySlides {
  display: none;
  padding: 40px;
  padding: 40px; }
  @media screen and (max-width: 701px) {
    .mySlides {
      padding: 20px; } }
  .mySlides .card {
    cursor: pointer; }
    .mySlides .card > .card-content {
      text-align: center;
      padding: 0 !important;
      background-color: #dfe0e0; }
    .mySlides .card > .card-reveal {
      background-color: #dfe0e0; }
      .mySlides .card > .card-reveal > h3 {
        font: 1.1rem "Playfair Display", serif;
        line-height: 150%;
        color: #4c82c9; }
      .mySlides .card > .card-reveal > a {
        font-family: "Raleway", sans-serif;
        font-size: 1.2rem;
        color: #fb8d2d; }

.arrow-right {
  cursor: pointer;
  justify-self: start;
  color: #dfe0e0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
  .arrow-right:hover {
    -webkit-transform: translateX(2px) scale3d(1, 1, 2);
            transform: translateX(2px) scale3d(1, 1, 2); }

.arrow-left {
  cursor: pointer;
  justify-self: end;
  color: #dfe0e0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
  .arrow-left:hover {
    -webkit-transform: translateX(-2px) scale3d(1, 1, 2);
            transform: translateX(-2px) scale3d(1, 1, 2); }

.slideshow-container {
  margin: auto;
  position: relative;
  margin-top: 15px;
  max-width: 100vw; }

/* Fading animation */
.fade {
  -webkit-animation-name: fadeInRight;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeInRight;
  animation-duration: 1.5s; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0.2; }
  20% {
    opacity: 0.4; }
  60% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    opacity: 0.2; }
  20% {
    opacity: 0.4; }
  60% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.partner {
  max-width: 85vw;
  margin: 0 auto;
  margin-bottom: 20px; }

.carousel .carousel-item > img {
  border-radius: 10px; }
