$heading: 'Playfair Display',
serif;
$text_font: 'Raleway',
sans-serif;
$menu_color: #4c82c9;
$menu_hover: #fb8d2d;
// font-size and font weight for about text
$text: 1.4rem;
$color_text :rgba(black, 0.7);
$resp_text: 1.2rem;